/* General Page Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin: 40px auto;
  padding: 20px;
  max-width: 1600px;
}

/* Media Section */
.media-section {
  flex: 1;
  background-color: #aaf4f9; /* Light blue background for media section */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow for depth */
  width: 85%;
}

.media-section iframe {
  width: 100%;
  height: 790px;
  border: none;
}

/* Questions Section */
.questions-section {
  flex: 1;
  background-color: #b3eefc; /* Light cyan background for question section */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 65%;
}

.question {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 1.5;
}

.option {
  font-size: 28px;
  margin: 10px 0;
  padding: 10px;
  border: 5px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff; /* White background for options */
  width: calc(100% - 20px); /* Adjust width */
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease; /* Smooth transition for hover */
}

.option:hover {
  background-color: #e0e0e0; /* Grey background on hover */
}

input[type="radio"] {
  width: 28px;
  height: 28px;
  margin-right: 10px;
  accent-color: #4caf50; /* Green color for radio button */
}

/* Result Page Styling */
.result-page {
  text-align: center;
  padding: 50px;
}

.result-box {
  background-color: #f0f8ff; /* Light background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for result box */
  display: inline-block;
  margin-top: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid #4caf50; /* Green border for circle */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.percentage {
  font-size: 35px;
  font-weight: bold;
  color: #4caf50; /* Green text for percentage */
}

.score, .feedback {
  font-size: 35px; /* Increased font size */
  font-weight: bold;
  color: #333; /* Dark color for text */
  margin: 10px 0;
}

.feedback {
  color: #f81863; /* Pink color for feedback */
}

.feedback-box {
  background-color: #f9f9f9; /* Light background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light shadow */
  margin-top: 20px;
  text-align: center;
}

/* Button Styling */
button {
  padding: 12px 24px;
  font-size: 20px;
  background-color: #4caf50; /* Green background for button */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}
